<a href="https://colab.research.google.com/github/jorgevillegazz/Python_Challenge_1/blob/main/AluraStoreLatam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Importación de datos

In [ ]:
import pandas as pd

url = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_1%20.csv"
url2 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_2.csv"
url3 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_3.csv"
url4 = "https://raw.githubusercontent.com/alura-es-cursos/challenge1-data-science-latam/refs/heads/main/base-de-datos-challenge1-latam/tienda_4.csv"

tienda = pd.read_csv(url)
tienda2 = pd.read_csv(url2)
tienda3 = pd.read_csv(url3)
tienda4 = pd.read_csv(url4)

tienda.head()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359

###**Conozca el conjunto de datos**

In [ ]:
tienda.sample()

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
939,Guitarra acústica,Instrumentos musicales,195500.0,10600.0,31/07/2021,Juliana Costa,Bogotá,5,Tarjeta de crédito,2,4.60971,-74.08175

In [ ]:
# Conociendo la cantidad de Filas y columnas
tienda.shape

(2359, 12)

In [ ]:
tienda2.shape

(2359, 12)

In [ ]:
tienda3.shape

(2359, 12)

In [ ]:
tienda4.shape

(2358, 12)

In [ ]:
#conociendo el nombre de las columnas
tienda.columns

Index(['Producto', 'Categoría del Producto', 'Precio', 'Costo de envío',
       'Fecha de Compra', 'Vendedor', 'Lugar de Compra', 'Calificación',
       'Método de pago', 'Cantidad de cuotas', 'lat', 'lon'],
      dtype='object')

In [ ]:
# Obteniendo resumen de la tabla
tienda.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2359 entries, 0 to 2358
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Producto                2359 non-null   object
 1   Categoría del Producto  2359 non-null   object
 2   Precio                  2359 non-null   float64
 3   Costo de envío          2359 non-null   float64
 4   Fecha de Compra         2359 non-null   object
 5   Vendedor                2359 non-null   object
 6   Lugar de Compra         2359 non-null   object
 7   Calificación            2359 non-null   int64
 8   Método de pago          2359 non-null   object
 9   Cantidad de cuotas      2359 non-null   int64
 10  lat                     2359 non-null   float64
 11  lon                     2359 non-null   float64
dtypes: float64(4), int64(2), object(6)
memory usage: 221.3+ KB

In [ ]:
# Contenido de cada columna
tienda['Producto']

0       Asistente virtual
1         Mesa de comedor
2           Juego de mesa
3              Microondas
4        Silla de oficina
              ...
2354            Iphone 15
2355            Impresora
2356        Juego de mesa
2357             Cama box
2358           Smartwatch
Name: Producto, Length: 2359, dtype: object

In [ ]:
#ver  el contenido de 2 o mas  columnas
tienda[['Producto','Precio','Fecha de Compra','Método de pago']]

               Producto     Precio Fecha de Compra      Método de pago
0     Asistente virtual   164300.0      16/01/2021  Tarjeta de crédito
1       Mesa de comedor   192300.0      18/05/2022  Tarjeta de crédito
2         Juego de mesa   209600.0      15/03/2021  Tarjeta de crédito
3            Microondas   757500.0      03/05/2022               Nequi
4      Silla de oficina   335200.0      07/11/2020               Nequi
...                 ...        ...             ...                 ...
2354          Iphone 15  1284400.0      15/11/2021               Nequi
2355          Impresora   282800.0      18/03/2023               Nequi
2356      Juego de mesa   122900.0      06/07/2021  Tarjeta de crédito
2357           Cama box   691300.0      02/05/2022  Tarjeta de crédito
2358         Smartwatch   195000.0      18/06/2022  Tarjeta de crédito

[2359 rows x 4 columns]

#1. Análisis de facturación

In [ ]:
suma_Total_Facturado = tienda['Precio'].sum()
suma_Total_Facturado2 = tienda2['Precio'].sum()
suma_Total_Facturado3 = tienda3['Precio'].sum()
suma_Total_Facturado4 = tienda4['Precio'].sum()

In [ ]:
print(f'La suma total facturado es de la Tienda 1 es: {suma_Total_Facturado}')
print(f'La suma total facturado es de la Tienda 2 es: {suma_Total_Facturado2}')
print(f'La suma total facturado es de la Tienda 3 es: {suma_Total_Facturado3}')
print(f'La suma total facturado es de la Tienda 4 es: {suma_Total_Facturado4}')

La suma total facturado es de la Tienda 1 es: 1150880400.0
La suma total facturado es de la Tienda 2 es: 1116343500.0
La suma total facturado es de la Tienda 3 es: 1098019600.0
La suma total facturado es de la Tienda 4 es: 1038375700.0

# 2. Ventas por categoría

In [ ]:
tienda.head(10)

,Producto,Categoría del Producto,Precio,Costo de envío,Fecha de Compra,Vendedor,Lugar de Compra,Calificación,Método de pago,Cantidad de cuotas,lat,lon
0,Asistente virtual,Electrónicos,164300.0,6900.0,16/01/2021,Pedro Gomez,Bogotá,4,Tarjeta de crédito,8,4.60971,-74.08175
1,Mesa de comedor,Muebles,192300.0,8400.0,18/05/2022,Beatriz Morales,Medellín,1,Tarjeta de crédito,4,6.25184,-75.56359
2,Juego de mesa,Juguetes,209600.0,15900.0,15/03/2021,Juan Fernandez,Cartagena,1,Tarjeta de crédito,1,10.39972,-75.51444
3,Microondas,Electrodomésticos,757500.0,41000.0,03/05/2022,Juan Fernandez,Cali,4,Nequi,1,3.43722,-76.52250
4,Silla de oficina,Muebles,335200.0,20200.0,07/11/2020,Maria Alfonso,Medellín,5,Nequi,1,6.25184,-75.56359
5,Bloques de construcción,Juguetes,24200.0,0.0,03/12/2020,Beatriz Morales,Cali,5,Cupón,1,3.43722,-76.52250
6,Muñeca bebé,Juguetes,44200.0,0.0,07/08/2021,Juan Fernandez,Bogotá,3,Nequi,1,4.60971,-74.08175
7,Lavavajillas,Electrodomésticos,1189700.0,63700.0,18/06/2021,Felipe Santos,Santa Marta,5,Tarjeta de crédito,10,11.24079,-74.19904
8,Lavadora de ropa,Electrodomésticos,1518200.0,79000.0,08/01/2022,Izabela de León,Bogotá,1,Tarjeta de crédito,5,4.60971,-74.08175
9,Carrito de control remoto,Juguetes,75200.0,5100.0,24/02/2020,Beatriz Morales,Bogotá,5,Nequi,1,4.60971,-74.08175

In [ ]:
tienda['Categoría del Producto'].value_counts()

Categoría del Producto
Muebles                    465
Electrónicos               448
Juguetes                   324
Electrodomésticos          312
Deportes y diversión       284
Instrumentos musicales     182
Libros                     173
Artículos para el hogar    171
Name: count, dtype: int64

In [ ]:
tienda2['Categoría del Producto'].value_counts()

Categoría del Producto
Muebles                    442
Electrónicos               422
Juguetes                   313
Electrodomésticos          305
Deportes y diversión       275
Instrumentos musicales     224
Libros                     197
Artículos para el hogar    181
Name: count, dtype: int64

In [ ]:
tienda3['Categoría del Producto'].value_counts()

Categoría del Producto
Muebles                    499
Electrónicos               451
Juguetes                   315
Electrodomésticos          278
Deportes y diversión       277
Libros                     185
Instrumentos musicales     177
Artículos para el hogar    177
Name: count, dtype: int64

In [ ]:
tienda4['Categoría del Producto'].value_counts()

Categoría del Producto
Muebles                    480
Electrónicos               451
Juguetes                   338
Deportes y diversión       277
Electrodomésticos          254
Artículos para el hogar    201
Libros                     187
Instrumentos musicales     170
Name: count, dtype: int64

In [ ]:
ventas_por_Cat_tienda01 = tienda.groupby('Categoría del Producto')[['Precio']].sum().sort_values('Precio',ascending=False)
ventas_por_Cat_tienda01

                              Precio
Categoría del Producto
Electrónicos             429493500.0
Electrodomésticos        363685200.0
Muebles                  187633700.0
Instrumentos musicales    91299000.0
Deportes y diversión      39290000.0
Juguetes                  17995700.0
Artículos para el hogar   12698400.0
Libros                     8784900.0

# 3. Calificación promedio de la tienda

Promedio de calificación dela tienda1

In [ ]:
total_calificaciones_1 = tienda['Calificación'].sum()                     #se crea la variable  con el total de las calificaciones
cantidad_de_productos_1= len(tienda['Producto'])                          #se crea una vriable con el total de los productos

promedio_calificacion_1 = total_calificaciones_1/cantidad_de_productos_1  #se saca el promedio de la calificacion de la tienda
promedio_calificacion_1 = round(promedio_calificacion_1, 2)               #redondeamos el resuultado el promedio

print(f"El promedio de la calificación de los clientes en la tienda uno es: {promedio_calificacion_1}")

El promedio de la calificación de los clientes en la tienda uno es: 3.98

Promedio de la Tienda 2

In [ ]:
total_calificaciones_2 = tienda2['Calificación'].sum()                     #se crea la variable  con el total de las calificaciones
cantidad_de_productos_2= len(tienda2['Producto'])                          #se crea una vriable con el total de los productos

promedio_calificacion_2 = total_calificaciones_2/cantidad_de_productos_2  #se saca el promedio de la calificacion de la tienda
promedio_calificacion_2 = round(promedio_calificacion_2, 2)               #redondeamos el resuultado el promedio

print(f"El promedio de la calificación de los clientes en la tienda uno es: {promedio_calificacion_2}")

El promedio de la calificación de los clientes en la tienda uno es: 4.04

Promedio de la Tienda 3

In [ ]:
total_calificaciones_3 = tienda3['Calificación'].sum()                     #se crea la variable  con el total de las calificaciones
cantidad_de_productos_3= len(tienda3['Producto'])                          #se crea una vriable con el total de los productos

promedio_calificacion_3 = total_calificaciones_3/cantidad_de_productos_3  #se saca el promedio de la calificacion de la tienda
promedio_calificacion_3 = round(promedio_calificacion_3, 2)               #redondeamos el resuultado el promedio

print(f"El promedio de la calificación de los clientes en la tienda uno es: {promedio_calificacion_3}")

El promedio de la calificación de los clientes en la tienda uno es: 4.05

Promedio de la Tienda 4

In [ ]:
total_calificaciones_4 = tienda4['Calificación'].sum()                     #se crea la variable  con el total de las calificaciones
cantidad_de_productos_4= len(tienda4['Producto'])                          #se crea una vriable con el total de los productos

promedio_calificacion_4 = total_calificaciones_4/cantidad_de_productos_4  #se saca el promedio de la calificacion de la tienda
promedio_calificacion_4= round(promedio_calificacion_4, 2)               #redondeamos el resuultado el promedio

print(f"El promedio de la calificación de los clientes en la tienda uno es: {promedio_calificacion_4}")

El promedio de la calificación de los clientes en la tienda uno es: 4.0

In [ ]:
#otra manera para calcular el promedio por cada  tienda
promedio_calificacion = tienda['Calificación'].sum()/len(tienda)
print(f"El promedio de la calificación de los clientes en la tienda uno es: {promedio_calificacion}")

El promedio de la calificación de los clientes en la tienda uno es: 3.976685036032217

# 4. Productos más y menos vendidos

# 5. Envío promedio por tienda